<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soham's Personal Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <section id="navbar">
        <div class="nav">
            <a href="/" class="nav-btn">Home</a>
            <a href="/about" class="nav-btn">About</a>
            <a href="/contacts" class="nav-btn">Contact</a>
            <a href="/compose" class="nav-btn">Write a post</a>
        </div>

    </section>
