<%- include('partials/header.ejs') %>
<h1>Contacts</h1>
<h2>My Name is Soham </h2>
<h2>Phone:+1111111111</h2>
<h2>Address:Aage se right waha se *******</h2>
<h2>Email:soham@gite.com</h2>
<%- include("partials/footer.ejs") %>